
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Grayscale</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">
                In these section will be some information about this web site and its purpose.
            </h2>
            <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
        </div>
    </div>
</header>


